<aside class="sidenav">
    <a class="sidenav-link" href="#"><img class="sidenav-img" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/66160299_359752961405346_6344635821202604032_n.png?_nc_cat=107&_nc_oc=AQni_r7m-QwLhOTXt4bmxK7qPMkZgYHfJ_0TyMZoRABrstp-iZIDhXdg7tZ6im580dEskzAzbg8-B3I8XNLYzWxK&_nc_ad=z-m&_nc_cid=0&_nc_zor=9&_nc_ht=scontent.xx&oh=879760fa8feedf7bf28647bcaccae1cb&oe=5DB8DFEE"></a>
    <a class="sidenav-link" href="#"><i class="fas fa-cog sidenav-icons"></i>Theme Settings</a>
    <a class="sidenav-link" href="#"><i class="fas fa-book sidenav-icons"></i>Documentation</a>
    <hr class="hr">
    <a class="sidenav-link" href="#"><i class="fas fa-home sidenav-icons"></i>Dashboard</a>
    <hr class="hr">
    <a class="sidenav-link" href="#"><i class="fas fa-user sidenav-icons"></i>Profile</a>
    <a class="sidenav-link" href="#"><i class="fas fa-sms sidenav-icons"></i>Messaging</a>
    <a class="sidenav-link" href="#"><i class="fas fa-envelope sidenav-icons"></i>Mail</a>
    <a class="sidenav-link" href="#"><i class="far fa-calendar-alt sidenav-icons"></i>Callendar</a>
    <a class="sidenav-link" href="#"><i class="fas fa-image sidenav-icons"></i>Gallery</a>
    <hr class="hr">
    <a class="sidenav-link" href="#"><i class="fas fa-copy sidenav-icons"></i>Layout</a>
    <a class="sidenav-link" href="#"><i class="fas fa-star sidenav-icons"></i>Icons</a>
    <a class="sidenav-link" href="#"><i class="fas fa-font sidenav-icons"></i>Typography</a>
    <hr class="hr">
    <a class="sidenav-link" href="#">Forms</a>
    <a class="sidenav-link" href="#">Components</a>
    <a class="sidenav-link" href="#">Tables</a>
    <a class="sidenav-link" href="#">Charts</a>
    <hr class="hr">
    <a class="sidenav-link" href="#"><i class="fas fa-copy sidenav-icons"></i>Pages</a>
    <hr class="hr">
    <a class="sidenav-link" href="#"><button type="button" disabled>Disabled Item</button></a>
    <a class="sidenav-link" href="#">Infinity Nested</a>
    <hr class="hr">
    <a class="sidenav-link" href="#">Solar System</a>
    <a class="sidenav-link" href="#"><i class="far fa-circle sidenav-icons earth"></i>Earth</a>
    <a class="sidenav-link" href="#"><i class="far fa-circle sidenav-icons mars"></i>Mars</a>
    <a class="sidenav-link" href="#"><i class="far fa-circle sidenav-icons mercury"></i>Mercury</a>
    <a class="sidenav-link" href="#"><i class="far fa-circle sidenav-icons jupiter"></i>Jupiter</a>
    <a class="sidenav-link" href="./add_widget.html">Add Widget</a>
</aside>